---
import { getI18n } from "../i18n";

const {currentLocale = "es"} = Astro
const i18n = getI18n({ currentLocale })
---
<section class="text-xl text-left px-20  max-w-[70ch] text-pretty my-24 mx-auto">
    <img
        class="w-16 mb-10 mx-auto"
        alt="logo de los Esland"
        src="/logo.png"
    />
    <h1
        class="text-4xl font-semibold text-center text-wrap  tracking-wide mb-10"
    >
        {i18n.INTRO_TITLE}<br/>{i18n.INTRO_TITLE_AFTER_BR}
    </h1>
    
    <p set:html={i18n.INTRO_DESCRIPTION_1}></p>
    <p set:html={i18n.INTRO_DESCRIPTION_2}></p>
    <p set:html={i18n.INTRO_DESCRIPTION_3}></p>
</section>
